{% extends 'base.html' %}
{% block content %}
{% if not billing_profile %}
<div class="row row-text-center text-center">
    <div class="col-md-12">
        <div class="row">
            <div class=" col-md-6">
                <p class="lead"> <strong>Login</strong></p>
                {% include 'accounts/snippets/form.html' with form=login_form next_uri=request.build_absolute_uri %}
            </div>
            <div class=" col-md-6">
                <p class="lead"><small>or continue as</small> <strong>Guest</strong></p>
                {% url "guest_register" as guest_register_url %}
                {% include 'accounts/snippets/form.html' with form=guest_form next_uri=request.build_absolute_uri action_url=guest_register_url%}
            </div>
        </div>
    </div>
</div>
{% else %}
{% if not order.shipping_address %}
<div class="row">
    <div class="col-sm-12 ">
        <p class="lead text-center">Shipping Address</p>
    </div>
<div class="col-md-6">
{% url "checkout_address_create" as checkout_create %}

{% include 'addresses/snippets/form.html' with form=address_form next_uri=request.build_absolute_uri action_url=checkout_create address_type='shipping'%}
</div>
{% url "checkout_address_use" as checkout_address_use %}
{# <p>{{checkout_address_use}}</p> #}
{% include 'addresses/snippets/prev_addresses.html' with address_qs=address_qs address_type='shipping' next_uri=request.build_absolute_uri action_url=checkout_address_use %}
</div>

{%elif not order.billing_address%}
<div class="row">
    {{order.order_id}}-- {{ order.cart}}
    <div class="col-sm-12 "><p class="lead "><center>Billing Address</center>  </p></div>
    <div class="col-sm-6 ">
        {% url "checkout_address_create" as checkout_create %}
        {% url "checkout_address_use" as checkout_use %}
        {% include 'addresses/snippets/form.html' with form=address_form next_uri=request.build_absolute_uri action_url=checkout_create address_type='billing'  %}
    </div>
    {% include 'addresses/snippets/prev_addresses.html' with address_qs=address_qs address_type='billing' next_uri=request.build_absolute_uri action_url=checkout_use%}
</div>
{% else %}

{% include 'cart/bootstrap/checkout.html' with order=order%}

{%endif %}
{% endif %}
{% endblock content %}