{% extends 'base.html' %}
{% block content %}
{% if not billing_profile %}
<div class="row row-tex-center">
    <div class="col-md-12">
        <div class="row">
            
            <div class=" col-md-6">
                <p class="lead"> <strong>Login</strong></p>
                {% include 'accounts/snippets/form.html' with form=login_form next_uri=request.build_absolute_uri %}
            </div>
            <div class=" col-md-6">
                <p class="lead"><small>or continue as</small> <strong>Guest</strong></p>
                {% url "guest_register" as guest_register_url %}

                {% include 'accounts/snippets/form.html' with form=guest_form next_uri=request.build_absolute_uri action_url=guest_register_url%}
            </div>
        </div>
    </div>
</div>
{% else %}
<h1>Checkout </h1>
<p><strong>Cart total : </strong> <small>{{order.cart.total}}</small></p>
<p><strong>Shipping total : </strong> <small>{{order.shipping_total}}</small></p>
<p><strong>Order total : </strong> <small>{{order.total}}</small></p>
{% endif %}
{% endblock content %}