{% load static %}

<div class="card" style="width: 18rem;">
    {% if instance.image %}
        <img class="card-img-top" src="{{ instance.image.url }}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ instance.title }}</h5>
        <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
    </div>
    <!--ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul-->
    <div class="card-body">
        <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-primary">View</a>

        <!--<a href="#" class="card-link">Another link</a>
        -->
    </div>
</div>