{% extends 'base.html' %}
{% load static %}
<!-- this block content exchange layout to parent -->
{% block content %}
    <div class="container">
        <div class="row">
            {% for obj in object_list %}
                <div class="col">


                    {% include 'products/snippests/card.html' with instance=obj %}
                </div>
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                    <hr>
                    <div class="row">
                {% endif %}
                <!--<a href="{{ obj.get_absolute_url }}"> {{ obj.title }} </a></br>-->
            {% endfor %}
            </div>
    </div>
{% endblock %}