{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
    {% include 'base/css.html' %}
</head>
<body>
{% include 'base/navbar.html' with brandName='Happy Shop!' %}
<div class="container-fluid">


    <!-- this block content exchange layout with children -->
    {% block content %}
    {% endblock %}
</div>

{% include 'base/js.html' %}
</body>
</html>